h3 {
    background-color: #C8C8C8;
    padding: 2% 20%;
    text-align: center;
    border-radius: 24px;
    box-shadow: 5px 5px 5px #353434;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 4%;
    background-size: 75px;
    
}

h4.line1 {
    background-image: url(small_tag.svg);
    background-repeat:no-repeat;
    background-size: 50px;
    background-position: left;
    padding: 3% 20%;
    background-position-x: 14%;
    background-position-y: 28%;
}

h4.line2 {
    background-image: url(small_tag.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 1% 20%;
    background-position-x: 14%;
    background-position-y: 100%;
}

p {
    padding-left: 25%;
    line-height: 30px;
}
@media (min-width: 320px) {
    h3 {
        padding: 1% 20% 1%;
        background-size: 55px;
    }
    h4.line1 {
        background-size: 30px;
        background-position-x: 5%;
        background-position-y: 28%;
    }
    h4.line2 {
        background-size: 30px;
        background-position-x: 5%;
        background-position-y: 100%;
        padding: 2% 20%;
    }
    p {
        padding-left: 15%;
    }
}

 @media (min-width: 900px) {
    h3 {
        padding: 2% 20%;
        background-size: 75px;
    }
    h4.line1 {
        background-size: 50px;
        background-position-x: 14%;
        background-position-y: 28%;
    }
    h4.line2 {
        background-size: 50px;
        background-position-x: 14%;
        background-position-y: 100%;
        padding: 1% 20%;
    }
    p {
        padding-left: 25%;
    }
 }


a {
    color: black;
}

a:hover {
    color: rgb(119, 115, 115);
    background-color: transparent;
    text-decoration: underline;
}
