body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    background-color: #C8C8C8;
    padding: 40px;
    margin: 20px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 5px 5px 5px #353434;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    margin-left: 190px;
    margin-right: 180px;
    background-position-x: 5%;
    background-size: 90px;
    font-size: 24px;
}

h4.line1 {
    background-image: url(small_tag.svg);
    background-repeat:no-repeat;
    background-size: 50px;
    padding: 40px;
    background-position-x: 22%;
    background-position-y: 20%;
}

a {
    color: black;
    font-size: 22px;
    margin: 330px;
}

a:hover {
    color: rgb(119, 115, 115);
    background-color: transparent;
    text-decoration: underline;
}

h4.line2 {
    background-image: url(small_tag.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 18px;
    font-size: 22px;
    padding-left: 370px;
    padding-top: 35px;
    background-position-x: 22%;
}

p {
    padding-left: 50px;
    font-size: 15px;
    line-height: 50px;
}
