h3 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

p {
    border: 1px solid black;
    padding: 5% 5% 5% 10%;
    text-align: justify;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 90px;
    background-position-x: 2%;
    background-position-y: 30%;
}  

p.big {
    line-height: 22px;
}

@media (min-width: 320px) {
    h3 {
        font-size: 24px;
    }
    p {
        background-size: 35px;
    }
}

@media (min-width: 900px) {
    h3 {
        font-size: 30px;
    }
    p{
        background-size: 90px;
    }
}

