h3 {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

p {
    font-size: 18px;
    border: 1px solid black;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: center;
}

p.text0 {
    line-height: 25px;
}
