h3 {
    text-align: center;
    padding-top: 20px 0;
    font-size: 30px;
}

p {
    padding: 5% 5% 5% 10%;
    text-align: justify;
    border: 1px solid black;
    background-image: url(header.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 120px;
    background-position-y: 30%;
    background-position-x: 1%;
}

p.text1 {
    line-height: 25px;
}

@media (min-width: 320px) {
    h3 {
        font-size: 24px;
    }
    p {
        background-size: 35px;
    }
}

@media (min-width: 900px) {
    h3 {
        font-size: 30px;
    }
    p{
        background-size: 100px;
    }
}